<nb-card class="default">
    <nb-card-header>
        <div class="d-flex">
            <div class="">
                WithDraw History Management
            </div>
            <div class="ml-auto">
                <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0 col-auto">
                        <nb-form-field>
                            <input type="text" nbInput fullWidth shape="round" placeholder="Search" name="search"
                                [(ngModel)]="searchValue" (keyup.enter)="getWithdrawList()" autocomplete="off">
                            <div type="button" nbSuffix ghost>
                                <nb-icon icon="search-outline" (click)="getWithdrawList()"></nb-icon>
                            </div>
                        </nb-form-field>
                    </div>
                </form>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Currency Name</th>
                    <th scope="col">Currency Symbol</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Transaction Fees</th>
                    <th scope="col">Admin Status</th>
                    <th scope="col">User Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let withdrawListObj of withdrawList; let i = index; trackBy: trackByFn">
                    <tr>
                        <th scope="row">{{ i+1 }}</th>
                        <td class="font-weight-bold pt-3 caption status-basic">{{ withdrawListObj?.mail }}</td>
                        <td>{{ withdrawListObj?.currency_name }}</td>
                        <td class="font-weight-bold pt-3 caption text-uppercase status-basic">{{
                            withdrawListObj?.currency_symbol }}</td>
                        <td>{{ Number(withdrawListObj?.amount || 0).toFixed(8)}}</td>
                        <td>{{ Number(withdrawListObj?.transfer_fee || 0).toFixed(8) }}</td>
                        <td class="font-weight-bold pt-3 caption"
                            [ngClass]="{'status-danger': (withdrawListObj?.STATUS != 'Completed'), 'status-success': (withdrawListObj?.STATUS == 'Completed') }">
                            {{ withdrawListObj?.STATUS }}</td>
                        <td class="font-weight-bold pt-3 caption"
                            [ngClass]="{'status-danger': (withdrawListObj?.user_status != 'Completed'), 'status-success': (withdrawListObj?.user_status == 'Completed') }">
                            {{ withdrawListObj?.user_status }}</td>
                        <td>{{ withdrawListObj.DATETIME | date: 'medium' }}</td>
                        <td>
                            <a class="" [routerLink]="['view/' + withdrawListObj?._id ]"
                                *ngIf="withdrawListObj?.user_status == 'Completed'">
                                <nb-icon icon="eye-outline" pack="eva" class="status-primary"></nb-icon></a>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="withdrawList.length == 0">
                    <tr class="text-center">
                        <td colspan="9">No Data Found</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </nb-card-body>
    <div class="d-flex align-items-center justify-content-center" *ngIf="withdrawList.length > 0">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [rotate]="true"
            [maxSize]="10" [boundaryLinks]="true" (pageChange)="pageChanged()">
        </ngb-pagination>
    </div>
</nb-card>