<div class="align-items-center justify-content-center row vh-100">
    <div class="col-md-5">
        <nb-card>
            <nb-card-header class="text-center">
                <h3>{{ isResetPassword ? 'Reset Password' : 'Forgot Password' }}</h3>
            </nb-card-header>
            <nb-card-body>
                <form #forgotPasswordForm="ngForm" (ngSubmit)="sendForgotPassword(forgotPasswordForm)"
                    *ngIf="!isResetPassword">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="label">Email address</label>
                        <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email"
                            [(ngModel)]="email" #userMail="ngModel" name="userMail"
                            pattern="[a-z0-9.-_]{1,}@[a-z.-]{2,}[.]{1}[a-z]{2,}"
                            [status]="userMail.dirty ? (userMail.invalid  ? 'danger' : 'success') : userMail.touched ? 'danger' : onSubmit ? 'danger' :'basic' "
                            [attr.aria-invalid]="userMail.invalid && userMail.touched ? true : null" required>
                        <ng-container *ngIf="!userMail?.valid && (userMail.touched || userMail?.dirty || onSubmit)">
                            <p class="caption status-danger pt-2" *ngIf="(userMail.errors?.required )">
                                Email is required!!
                            </p>
                            <p class="caption status-danger pt-2" *ngIf="userMail.errors?.pattern">
                                Please enter valid Email
                            </p>
                        </ng-container>
                    </div>
                    <div class="text-center pt-3 pb-2">
                        <button class="col-md-5" type="submit" [disabled]="onDisabled" nbButton status="primary">Send
                            Mail Request</button>
                    </div>
                    <div class="text-center pt-3 pb-3">
                        <a [routerLink]="['/auth/login']" class="text-decoration-none">Back To Login</a>
                    </div>
                </form>

                <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)" *ngIf="isResetPassword">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="label">New Password</label>
                        <nb-form-field>
                            <input type="{{ showNewPassword ? 'password': 'text'}}" nbInput fullWidth
                                id="exampleInputPassword1" placeholder="New Password" [(ngModel)]="resetObj.newPassword"
                                #newPassword="ngModel" name="newPassword"
                                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}"
                                [status]="newPassword.dirty ? (newPassword.invalid ? 'danger' : 'success') : newPassword.touched ? 'danger' : onLogin ? 'danger' :'basic' "
                                required [attr.aria-invalid]="newPassword.invalid && newPassword.touched ? true : null">
                            <button type="button" nbSuffix nbButton ghost (click)="toggleShowNewPassword()">
                                <nb-icon [icon]="showNewPassword ?  'eye-off-outline' :'eye-outline'" pack="eva"
                                    [attr.aria-label]="showNewPassword ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                        </nb-form-field>
                        <ng-container *ngIf="(newPassword.touched || newPassword?.dirty || onSubmit)">
                            <p class="caption status-danger pt-2" *ngIf="newPassword.errors?.required">
                                Password is required!
                            </p>
                            <p class="caption status-danger pt-2" *ngIf="newPassword.errors?.pattern">
                                Password should contain atleast one special character, number, uppercase and lowercase
                                characters
                            </p>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword2" class="label">Confirm Password</label>
                        <nb-form-field>
                            <input type="{{ showConfirmPassword ? 'password': 'text'}}" nbInput fullWidth
                                id="exampleInputPassword1" placeholder="Confirm Password"
                                [(ngModel)]="resetObj.confirmPassword" #confirmPassword="ngModel" name="confirmPassword"
                                [status]="confirmPassword.dirty ? (confirmPassword.invalid ? 'danger' : 'success') : confirmPassword.touched ? 'danger' : onLogin ? 'danger' :'basic' "
                                required
                                [attr.aria-invalid]="confirmPassword.invalid && confirmPassword.touched ? true : null">
                            <button type="button" nbSuffix nbButton ghost (click)="toggleShowConfirmPassword()">
                                <nb-icon [icon]="showConfirmPassword ?  'eye-off-outline' :'eye-outline'" pack="eva"
                                    [attr.aria-label]="showConfirmPassword ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                        </nb-form-field>
                        <ng-container *ngIf="(confirmPassword.touched || confirmPassword?.dirty || onSubmit)">
                            <p class="caption status-danger pt-2" *ngIf="confirmPassword.errors?.required">
                                Confirm Password is required!
                            </p>
                            <p class="caption status-danger pt-2"
                                *ngIf="newPassword.value != confirmPassword.value && !confirmPassword.errors?.required">
                                Password mismatch.
                            </p>
                        </ng-container>
                    </div>

                    <div class="text-center pt-3 pb-2">
                        <button class="col-md-4" type="submit" [disabled]="onDisabled" nbButton
                            status="primary">Submit</button>
                    </div>

                    <div class="text-center pt-3 pb-3">
                        <a [routerLink]="['/auth/login']" class="text-decoration-none">Back To Login</a>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>