<div class="align-items-center justify-content-center row vh-100">
    <div class="col-md-4">
      <nb-card>
        <nb-card-header class="text-center">
          <h3>Register</h3>
        </nb-card-header>
        <nb-card-body>
          <form #form="ngForm" (ngSubmit)="submitLogin(form)">
            <div class="form-group">
                <label for="exampleInputEmail1" class="label">UserName</label>
                <input type="name" nbInput fullWidth id="exampleInputEmail1" placeholder="Name" [(ngModel)]="Name"
                  #name="ngModel" name="name" 
                  [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : name.touched ? 'danger' : onLogin ? 'danger' :'basic' "
                  required [attr.aria-invalid]="name.invalid && name.touched ? true : null">
                <ng-container *ngIf="!name?.valid && (name.touched || name?.dirty || onLogin)">
                  <p class="caption status-danger pt-2" *ngIf="name.errors?.required">
                    Name is required!
                  </p>
                  <!-- <p class="caption status-danger pt-2" *ngIf="Neme.errors?.pattern">
                    Please enter valid Email (eg. xyz28@gmail.com)
                  </p> -->
                </ng-container>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="label">Email address</label>
              <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email" [(ngModel)]="Email"
                #email="ngModel" name="email" pattern="[a-z0-9.-_]{1,}@[a-z.-]{2,}[.]{1}[a-z]{2,}"
                [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : email.touched ? 'danger' : onLogin ? 'danger' :'basic' "
                required [attr.aria-invalid]="email.invalid && email.touched ? true : null">
              <ng-container *ngIf="!email?.valid && (email.touched || email?.dirty || onLogin)">
                <p class="caption status-danger pt-2" *ngIf="email.errors?.required">
                  Email is required!
                </p>
                <p class="caption status-danger pt-2" *ngIf="email.errors?.pattern">
                  Please enter valid Email (eg. xyz28@gmail.com)
                </p>
              </ng-container>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="label">Password</label>
              <nb-form-field>
                <input type="{{ showPassword ? 'password': 'text'}}" nbInput fullWidth id="exampleInputPassword1"
                  placeholder="Password" [(ngModel)]="password" #Password="ngModel" name="password"
                  [status]="Password.dirty ? (Password.invalid ? 'danger' : 'success') : Password.touched ? 'danger' : onLogin ? 'danger' :'basic' "
                  required [attr.aria-invalid]="Password.invalid && Password.touched ? true : null">
                <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                  <nb-icon [icon]="showPassword ?  'eye-off-outline' :'eye-outline'" pack="eva"
                    [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                  </nb-icon>
                </button>
              </nb-form-field>
  
              <ng-container *ngIf="!Password?.valid && (Password.touched || Password?.dirty || onLogin)">
                <p class="caption status-danger pt-2" *ngIf="Password.errors?.required">
                  Password is required!
                </p>
              </ng-container>
  
            </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1" class="label">Confirm Password</label>
              <nb-form-field>
                <input type="{{ confirmshow ? 'password': 'text'}}" nbInput fullWidth id="exampleInputPassword1"
                  placeholder="Confirm Password" [(ngModel)]="confirmPassword" #ConfirmPassword="ngModel" name="confirmPassword"
                  [status]="ConfirmPassword.dirty ? (ConfirmPassword.invalid || Password.value!= ConfirmPassword.value ? 'danger' : 'success') : ConfirmPassword.touched ? 'danger' : onLogin ? 'danger' :'basic' "

               

                  required [attr.aria-invalid]="ConfirmPassword.invalid && ConfirmPassword.touched ? true : null">
                <button type="button" nbSuffix nbButton ghost (click)="toggleConfirmPassword()">
                  <nb-icon [icon]="confirmshow ?  'eye-off-outline' :'eye-outline'" pack="eva"
                    [attr.aria-label]="confirmshow ? 'hide password' : 'show password'">
                  </nb-icon>
                </button>
              </nb-form-field>
  
              <ng-container *ngIf="(ConfirmPassword.touched || ConfirmPassword?.dirty || onLogin)">
                <p class="caption status-danger pt-2" *ngIf="ConfirmPassword.errors?.required">
                  Confirm Password is required!
                </p>

                <p class="caption status-danger pt-2"
                *ngIf=" Password.value!= ConfirmPassword.value  && !ConfirmPassword.errors?.required">
                Password mismatch
            </p>

              </ng-container>
  
            </div>

            <!-- <div class="mb-4 pt-2">
              <div id="patternContainer"
                style="border-radius: 10px;background-image:linear-gradient(141deg, #0f4afc 0%, #2a5efd 51%, #3366ff 75%); margin: auto">
              </div>
              <input type="hidden" name="patterncode" id="patterncode">
            </div> -->
  
            <div class="d-flex">
              <!-- <a [routerLink]="['/auth/register']" class="text-decoration-none">Register</a> -->
              <a [routerLink]="['/auth/login']" class="offset-6 text-decoration-none">Login</a>
            </div>
            <div class="text-center pt-4">
              <button class="col-md-8" type="submit" nbButton status="primary" [disabled]="onDisabled">Submit</button>
  
            </div>
  
          </form>
  
        
        </nb-card-body>
      </nb-card>
    </div>
  </div>