<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class="d-flex">
                    <div class="">
                        View Listing Details
                    </div>
                    <div class="ml-auto" [routerLink]="['/pages/getAllPosts']">
                        <nb-icon icon="arrow-ios-back-outline" pack="eva"></nb-icon>
                        <span>Back</span>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <form #kycForm="ngForm" *ngIf="Object.keys(withdrawDetails).length > 0">
                    <div class="pt-3">
                        <div class="d-flex justify-content-between mb-3">
                            <!-- <div class="label f-16 mb-2">User Withdraw Status : <span
                                    [ngClass]="{'text-danger': withdrawDetails?.user_status != 'Completed', 'text-success': withdrawDetails?.user_status == 'Completed'}">
                                    {{ withdrawDetails?.user_status }}</span>
                            </div>

                            <div class="label f-16 mb-2">Admin Withdraw Status : <span
                                    [ngClass]="{'text-danger': withdrawDetails?.STATUS != 'Completed', 'text-success': withdrawDetails?.STATUS == 'Completed'}">
                                    {{ withdrawDetails?.STATUS }}</span>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="usr_nam" class="label">User ID</label>
                                <input type="text" nbInput fullWidth placeholder="User ID"
                                    [(ngModel)]="withdrawDetails.uid" #uid="ngModel" name="uid" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="mil" class="label">Email</label>
                                <input type="text" nbInput fullWidth id="mil" placeholder="Email"
                                    [(ngModel)]="withdrawDetails.email" #email="ngModel" name="email" readonly>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="usr_nam" class="label">User Name</label>
                                <input type="text" nbInput fullWidth placeholder="User Name"
                                    [(ngModel)]="withdrawDetails.username" #username="ngModel" name="username" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="usr_id" class="label">Currency</label>
                                <input type="text" nbInput fullWidth placeholder="Currency Name"
                                    [(ngModel)]="withdrawDetails.currency_name" #currency_name="ngModel"
                                    name="currency_name" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="usr_id" class="label">Fiat Currency</label>
                                <input type="text" nbInput fullWidth placeholder="Currency Symbol"
                                    [(ngModel)]="withdrawDetails.fiat_currency" #fiat_currency="ngModel"
                                    name="fiat_currency" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="usr_nam" class="label">Price</label>
                                <nb-form-field>
                                    <input type="text" nbInput fullWidth placeholder="Requested Amount"
                                        [(ngModel)]="withdrawDetails.price" #price="ngModel" name="price" readonly>
                                    <!-- <span class="pr-3" nbSuffix>{{withdrawDetails?.currency_symbol}}</span> -->
                                </nb-form-field>
                            </div>
                            <div class="col-md-4">
                                <label for="usr_id" class="label">Minimum Limit</label>
                                <nb-form-field>
                                    <input type="text" nbInput fullWidth placeholder="Transfer Fee"
                                        [(ngModel)]="withdrawDetails.min_limit" #min_limit="ngModel"
                                        name="min_limit" readonly>
                                    <!-- <span class="pr-3" nbSuffix>{{withdrawDetails?.currency_symbol}}</span> -->
                                </nb-form-field>
                            </div>
                            <div class="col-md-4">
                                <label for="usr_id" class="label">Maximum Limit</label>
                                <nb-form-field>
                                    <input type="text" nbInput fullWidth placeholder="Transfer Amount"
                                        [(ngModel)]="withdrawDetails.max_limit" #max_limit="ngModel"
                                        name="max_limit" readonly>
                                    <span class="pr-3" nbSuffix>{{withdrawDetails?.currency_symbol}}</span>
                                </nb-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="usr_nam" class="label">Payment Method</label>
                                <input type="text" nbInput fullWidth placeholder="Unique ID"
                                    [(ngModel)]="withdrawDetails.payment_method" #payment_method="ngModel" name="payment_method" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="usr_id" class="label">Region</label>
                                <input type="text" nbInput fullWidth placeholder="User Mobile"
                                    [(ngModel)]="withdrawDetails.region" #region="ngModel" name="region" readonly>
                            </div>
                            <!-- <div class="col-md-4">
                                <label for="usr_id" class="label">Requested On</label>
                                <input type="text" nbInput fullWidth placeholder="Requested Date"
                                    [(ngModel)]="withdrawDetails.DATETIME" #DATETIME="ngModel" name="DATETIME" readonly>
                            </div> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="usr_nam" class="label">Remarks</label>
                                <textarea type="text" nbInput fullWidth placeholder="Description" rows="5"
                                    [(ngModel)]="withdrawDetails.terms_of_trade" #terms_of_trade="ngModel" name="terms_of_trade">
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group" *ngIf="withdrawDetails?.STATUS != 'Pending'">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="usr_nam" class="label">Transaction Hash</label>
                                <input type="text" nbInput fullWidth placeholder="Transaction Hash"
                                    [(ngModel)]="withdrawDetails.wallet_txid" #wallet_txid="ngModel" name="wallet_txid"
                                    readonly>
                            </div>
                        </div>
                    </div> -->

                    <div class="d-flex justify-content-center pt-4 pb-4">
                        <button nbButton class="col-md-2" type="button" status="primary" [disabled]="isDisable"
                            (click)="editPost()">
                            Edit List 
                        </button>                        
                        <button  nbButton class="col-md-2 ml-5" type="button" status="danger"
                            (click)="openConfirmationDialogForDelete('cancel')">
                            Suspend 
                        </button>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>