<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type" [value]="statusCard.value"
      [link]="statusCard.link">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<!-- <nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-center">
      <h3 class="font-weight-bold">
        Admin Login History
      </h3>
    </div>
  </nb-card-header>

  <nb-card-body>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Device</th>
          <th scope="col">Browser</th>
          <th scope="col">Ip Address</th>
          <th scope="col">Location</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let loginHistoryListObj of loginHistoryList; let i = index; trackBy: trackByFn">
          <tr>
            <th scope="row">{{ (i+1) + ((page - 1) * 10) }}</th>
            <td>{{ loginHistoryListObj?.os }}</td>
            <td>{{ loginHistoryListObj?.browser_name }}</td>
            <td>{{ loginHistoryListObj?.ip_address }}</td>
            <td>{{ loginHistoryListObj?.location }}</td>
            <td>{{ loginHistoryListObj?.date | date: 'medium' }}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="loginHistoryList.length == 0">
          <tr class="text-center">
            <td colspan="6">No Data Found</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [maxSize]="10"
        [boundaryLinks]="true" (pageChange)="pageChanged()">
      </ngb-pagination>
    </div>
  </nb-card-body>

</nb-card> -->