<nb-card class="defaultcss">
    <nb-card-header>
        <div class="d-flex">
            <div class="">
                FAQ Management
            </div>
            <div class="ml-auto" [routerLink]="['add']" style="cursor: pointer;">
                <nb-icon icon="plus-outline" pack="eva"></nb-icon>
                <span class="ml-2">Add FAQ</span>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Questions</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update Status</th>
                    <!-- <th scope="col">Date & Time</th> -->
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let faqListObj of faqList; let i = index">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{faqListObj.question}}</td>
                        <td class="font-weight-bold pt-3"
                            [ngClass]="faqListObj.status == 'Active' ? 'caption status-success' : 'caption status-danger'">
                            {{faqListObj.status}}</td>
                        <td style="cursor:pointer;">
                            <div class="pl-3">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch_{{i}}"
                                        [(ngModel)]="faqListObj.toggleStatus"
                                        (change)="updateStatus(faqListObj._id, faqListObj.toggleStatus)">
                                    <label class="custom-control-label" for="customSwitch_{{i}}"></label>
                                </div>
                            </div>
                        </td>
                        <!-- <td>{{ faqListObj?.createddate | date: 'medium' }}</td> -->
                        <td>
                            <a class="" [routerLink]="['edit/' + faqListObj?._id ]">
                                <nb-icon icon="edit-outline" pack="eva" class="status-success"></nb-icon>
                            </a>
                            <a class="col-6" (click)="openConfirmationDialog(faqListObj?._id)">
                                <nb-icon icon="trash-outline" pack="eva" class="status-danger"></nb-icon>
                            </a>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="faqList?.length == 0">
                    <tr class="text-center">
                        <td colspan="6">No FAQ List Found</td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </nb-card-body>
    <div class="d-flex align-items-center justify-content-center">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [rotate]="true"
            [maxSize]="10" [boundaryLinks]="true" (pageChange)="pageChanged()">
        </ngb-pagination>
    </div>
</nb-card>